<!DOCTYPE html>
<html>
  <head>
    <title> {{ title  }} </title>
    <style>
      body { 
        text-align: center;
      }
      table {
        margin-left: auto;
        margin-right: auto;
      }
      td {
        padding: 3px 8px;
      }
    </style>
  </head>
  <body>
    <h2>Job Composition</h2>
    <table border="1">
    <tr>
      <td><b>{{ header1 }}</b></td>
      <td><b>{{ header2 }}</b></td>
    </tr>
    {% for item in collection %}
     <tr>
       <td>{{ item[0] }}</td>
       <td>{{ item[1] }}</td>
     </tr>
    {% endfor %}
   </table>

   <h3>Your profession may be: {{ job }}.</h3>
  </body>
</html>
